# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Database
db.sqlite3

# VS Code
.vscode/

# Logs
*.log

# Django
media/
staticfiles/

# OS Files
.DS_Store
Thumbs.db